<h1>メモアプリ</h1>
<form method='post' action='/memos/<%= @found_memo['id'] %>'>
  <input type='hidden' name='_method' value='patch'>
  <p><input class='input_title' type='text' name='title' placeholder='title' value='<%= @found_memo['title'] %>' required='required'></p>
  <p><textarea class='input_content' name='content'><%= @found_memo['content'] %></textarea></p>
  <p><button type='submit'>変更</button></p>
</form>
