<h1>メモアプリ</h1>
<ul>
  <% @memos.each do |memo| %>
    <li><a href='/memos/<%= memo['memo_id'] %>'><%= h(memo['title']) %></a></li>
  <% end %>
</ul>
<div class='top_button'>
  <a href='/memos/new'><button>作成</button></a>
</div>
